* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(33, 197, 207);
    background: linear-gradient(315deg, rgba(33, 197, 207, 1) 0%, rgba(180, 155, 11, 0.7931547619047619) 100%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}